*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    text-decoration: none;
    font-family: 'Catamaran', sans-serif;
}
.body-container{
    display: flex;
    flex-direction: column;
}


.signup-container{
    display: flex;
    flex-direction: row;
    margin: auto;
    
    
}

.logo-sign img{
    width: 160px;
    height: auto;
    float: left;
   
}

.left-section{
    display: flex;
    flex-direction: column;
    width: 39%;
    margin: 140px auto;
    
    
}

.left-section h3{
    font-size: 18px;
    font-weight: 600;
    color: #191919;
}

.left-section p{
    font-size: 14px;
    font-weight: 400;
    opacity: 0.75;
    text-align: left;
}

.text-1, .text-2, .text-3{
    display: flex;
    gap: 5px;
    margin-bottom: 10px ;
    text-align: left;
    align-items: baseline;
    
}


.right-section{
    width: 50%;
    justify-content: center;
    align-items: center;
    display: flex;
    margin-top: 10px;
}

.container h2{
    font-size: 20px;
    margin-bottom: 20px;
}

.container p{
    font-size: 14px;
    font-weight: 400;
}

.container{
    display: flex;
    flex-direction: column;
    background-color: white;
    border-radius: 10px;
    justify-items: center;
    
    border: 1px solid rgba(112, 112, 112, 0.25);
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.05);
    width: 402px;
   
}

.form-section input, select{
    display: flex;
    flex-direction: column;
    font-size: 14px;
    font-weight: 400px;
    width: 100%;
    margin-bottom: 5px;
    padding: 0px 23px;
    border-radius: 7px;
    outline: none;
    height: 35px;
    border: 1px solid rgba(112, 112, 112, 0.3);
    box-shadow: 0px 0px 6px rgba(24, 153, 215, 0);
}

select{
    -webkit-appearance: none;
    -moz-appearance: none;
    background: #fff;
    background-repeat: no-repeat;
    background-position-x: 97%;
    background-position-y: 14px;
}

#fill{
    display: flex;
    gap: 30px;
}

.form-section input:focus{
    box-shadow: 0px 0px 6px rgba(24, 153, 215, 0.9);
    border: 1px solid rgba(24, 153, 215, 1);
}

#check{
    display: flex;
    gap: 5px;
    margin-bottom: 30px;
}

#check p{
    color: #191919;
    opacity: 0.75;
    font-size: 12px;
    text-align: left;
}

#check input{
    width: 18px;
    border: 1px solid rgba(112, 112, 112, 0.3);
    border-radius: 5px;
    cursor: pointer;
    height: 18px;
}

button{
    width: 100%;
    border-radius: 7px;
    height: 45px;
    background: rgba(24, 153, 215, 1) 0% 0% no-repeat padding-box;
    font-weight: 600;
    border: 1px solid rgba(178, 178, 178, 0.5);
    font-size: 14px;
    cursor: pointer;
    margin-bottom: 15px;
    color: white;
}


.sign-up a{
    font-size: 14px;
    color: rgba(24, 153, 215, 1);
}



.footerr{
    display: flex;
    flex-direction: row;
    justify-content: center;
   
}

footerr p{
    color: rgba(25, 25, 25, 1);
}

