*{
    box-sizing:border-box;
    padding: 0;
    margin: 0;
    text-decoration: none;

}

body{
    background-image: url(../assets/images/switchImg.png);
    background-size: 100% 100%;
    background-repeat: no-repeat; 
    height: 100vh;
    font-family: 'Catamaran', sans-serif !important;
}
.main{
    display: flex;
    flex-direction: column;
    margin: auto;
    width: 402px;
    

}
.logo-login {
    margin-top: 100px;
    justify-content: center;
    width: 142px;
    height: auto;
    float: left;
    display: flex;
    margin-bottom: 18px;
    
}

.container{
    padding: 50px;
    box-shadow: 0px 3px 6px #0000000D;
    border: 1px solid #70707040;
    border-radius: 10px;
    width: 452px;
    margin: auto;
    background: #FFFFFF 0% 0% no-repeat padding-box;
}
.radio-selection{
    display: flex;
    width: 100%;
    flex-direction: column;
}
.psac{
    display: flex;
    gap: 10px;
    align-items: baseline;
    margin: 0 0 20px 0;
    font-size: 14px;
}
.macc{
    display: flex;
    gap: 10px;
    align-items: baseline;
    margin: 0 0 20px 0;
    font-size: 14px;
    margin-bottom: 33px;
}

.container h4{

    margin-bottom: 43px;
    text-align: left;
    font-size: 21px;

}
.psac-cap,.macc-cap h3{
    text-align: left;
    font-size: 16px;
   
}
.macc-cap, .psac-cap p{
    text-align: left;
    font-size: 14px;
}
.btnn button{
    background: #1899D7 0% 0% no-repeat padding-box;
    border: 1px solid #B2B2B280;
    border-radius: 7px;
    width: 155px;
    height: 45px;
    float: left;
    color: #fff
}

@media screen and (max-width: 420px) {
    body{
        background-image: none;
    }
    .container{
        width: 389px;
    }
    
}

.footer{
    display: flex;
    margin-top: 90px;
    justify-content: center;
    gap: 20px;
    font-size: 14px;
}
 

