body{
    margin: 0;
    overflow: hidden;
}
.back-container{
    background-image: url(../assets/images/switchImg.png);
    background-size: 100% 100%;
    background-repeat: no-repeat; 
}
.main-c{
    text-align: center;
    justify-content: center;
    display: flex;
    padding: 90px 0 90px 0;
   
}
.submain-c{
   display: flex;
   justify-content: center;
  border-radius: 4px;
  background-color: white;
  box-shadow:1px 1px 1px 1px rgba(100, 120, 126,113);
   display: inline;
   height: 300px;
   width: 280px;
}
.logo{
    top:20px;
    
}
.submain-c h5{
    text-align: left;
    margin-left: 40px;
    
}
.submain-c h6{
    color: #1899D7;
    text-align: right;
    margin-right: 40px;
    cursor: pointer;

}
.btnsignup{
    margin-top: 10px;
    
}
.btnsignup button{
    
    color: #fff;
    background-color:#1899D7 ;
    border: none;
    font-size: 12;
    border-radius:10px;
    width: 12rem;
    height: 34px;
    cursor: pointer;
    


}


.email {
    margin:  auto 0;
}

.email input {
    width: 200px;
    height: 35px;
    border-radius: 4px;
    border-width: thin;
    margin: 0;
}
.password input {
    width: 200px;
    height: 35px;
    border-radius: 4px;
    border-width: thin;
   margin: 0;
}
.member1 h6{
    
    text-align: left;
   color: grey; 
   margin-left: 10px;
   
  
}

